# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [6]:
# Your code here

# Challenge 1: Data Cleaning and Formatting
# Exercise 1: Cleaning Column Names

# Objective:
# - Standardize column names for consistency and ease of use
# - Convert column names to lowercase
# - Replace white spaces with underscores (_)
# - Replace 'st' with 'state' where applicable

import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
data = pd.read_csv(url)

# Display original column names
print("Original column names:")
print(data.columns)

# Standardize column names:
# - convert to lowercase
# - replace spaces with underscores
data.columns = (
    data.columns
        .str.lower()
        .str.replace(" ", "_")
)

# - replace 'st' ONLY if the column name is exactly 'st'
data.columns = [
    "state" if col == "st" else col
    for col in data.columns
]

# Display cleaned column names
print("\nCleaned column names:")
print(data.columns)

print("\nFirst few rows of the cleaned dataset:")
print(data.head())

Original column names:
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

Cleaned column names:
Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

First few rows of the cleaned dataset:
  customer       state gender             education customer_lifetime_value  \
0  RB50392  Washington    NaN                Master                     NaN
1  QZ44356     Arizona      F              Bachelor              697953.59%
2  AI49188      Nevada      F              Bachelor             1288743.17%
3  WW63253  California      M              Bachelor              764586.18%
4  GA49547  Washington      M  High School or Below              536307.65%

    income  monthly_premium_auto number_of_open_complaints     policy_type  \
0      0.0                1000.0                    1/0/00   Personal Auto
1      0.0                  94.0                    1/0/00   Personal Auto
2  48767.0                 108.0                    1/0/00   Personal Auto
3      0.0                 106.0                    1/0/00  Corporate Auto
4  36357.0                  68.0                    1/0/00   Personal Auto

   vehicle_class  total_claim_amount
0  Four-Door Car            2.704934
1  Four-Door Car         1131.464935
2   Two-Door Car          566.472247
3            SUV          529.881344
4  Four-Door Car           17.269323

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [16]:
# Your code here

# Challenge 1: Data Cleaning and Formatting
# Exercise 2: Cleaning invalid  values

# Objective:
# - Identify and handle invalid values in the dataset
# clean these columns with inconsistent and incorrect values to ensure that they only contain valid data
# focus only on cleaning inconsistent values and not involve handling null values (NaN or None).
# standardized Gender column to "M" and "F"
# replaced State abbreviations with its full name or example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
# replace bachelors by Bachelor in education column
# In Customer Lifetime Value, delete the `%` character
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"

import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
data = pd.read_csv(url)

# Display original data
print("Original data (first rows):")
print(data.head())

# Standardize column names:
# - convert to lowercase
# - replace spaces with underscores
data.columns = (
    data.columns
        .str.lower()
        .str.replace(" ", "_")
)

# - replace 'st' ONLY if the column name is exactly 'st'
data.columns = [
    "state" if col == "st" else col
    for col in data.columns
]

# Clean inconsistent values (NO null handling)

# - Standardize gender values
# Note: dataset includes values like "F", "M", "Femal", "Male", "female"
data["gender"] = data["gender"].replace({
    "Male": "M",
    "female": "F",
    "Femal": "F"
})

# - Standardize state abbreviations / variants
data["state"] = data["state"].replace({
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington"
})

# - Standardize education values
data["education"] = data["education"].replace({
    "Bachelors": "Bachelor"
})

# - Remove % from Customer Lifetime Value (keep as string for now if needed)
# Hint says: delete the % character (it does NOT require type conversion here)
data["customer_lifetime_value"] = data["customer_lifetime_value"].str.replace("%", "", regex=False)

# - Standardize vehicle class: group into "Luxury"
data["vehicle_class"] = data["vehicle_class"].replace({
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
})

# Display cleaned data
print("\nCleaned data (first rows):")
print(data.head())

Original data (first rows):
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car

Cleaned data (first rows):
  customer       state gender education customer_lifetime_value  income  \
0  GS98873     Arizona      F  Bachelor               323912.47   16061
1  CW49887  California      F    Master               462680.11   79487
2  MY31220  California      F   College               899704.02   54230
3  UH35128      Oregon      F   College              2580706.30   71210
4  WH52799     Arizona      F   College               380812.21   94903

   monthly_premium_auto number_of_open_complaints  total_claim_amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      policy_type  vehicle_class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto         Luxury
4  Corporate Auto   Two-Door Car

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
# Your code here

import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
data = pd.read_csv(url)

# Display original data
print("Original data (first rows):")
print(data.head())

# Standardize column names:
# - convert to lowercase
# - replace spaces with underscores
data.columns = (
    data.columns
        .str.lower()
        .str.replace(" ", "_")
)

# - replace 'st' ONLY if the column name is exactly 'st'
data.columns = [
    "state" if col == "st" else col
    for col in data.columns
]

# Clean inconsistent values (NO null handling)

# - Standardize gender values
# Note: dataset includes values like "F", "M", "Femal", "Male", "female"
data["gender"] = data["gender"].replace({
    "Male": "M",
    "female": "F",
    "Femal": "F"
})

# - Standardize state abbreviations / variants
data["state"] = data["state"].replace({
    "AZ": "Arizona",
    "Cali": "California",
    "WA": "Washington"
})

# - Standardize education values
data["education"] = data["education"].replace({
    "Bachelors": "Bachelor"
})

# - Remove % from Customer Lifetime Value (keep as string for now if needed)
# Hint says: delete the % character (it does NOT require type conversion here)
data["customer_lifetime_value"] = data["customer_lifetime_value"].str.replace("%", "", regex=False)

# - Standardize vehicle class: group into "Luxury"
data["vehicle_class"] = data["vehicle_class"].replace({
    "Sports Car": "Luxury",
    "Luxury SUV": "Luxury",
    "Luxury Car": "Luxury"
})

# Format customer_lifetime_value as float
# Remove '%' character and convert to float
data["customer_lifetime_value"] = (
    data["customer_lifetime_value"]
        .str.replace("%", "", regex=False)
        .astype(float)
)

# Format number_of_open_complaints as integer
# Extract the middle value from the format '1/x/00'
data["number_of_open_complaints"] = (
    data["number_of_open_complaints"]
        .str.split("/")
        .str[1]
        .astype(int)
)

# Display data types to verify formatting
print("\nData types after formatting:")
print(data.dtypes)

# Display cleaned data
print("\nCleaned data (first rows):")
print(data.head())

Original data (first rows):
  Customer          ST GENDER Education Customer Lifetime Value  Income  \
0  GS98873     Arizona      F  Bachelor              323912.47%   16061
1  CW49887  California      F    Master              462680.11%   79487
2  MY31220  California      F   College              899704.02%   54230
3  UH35128      Oregon      F   College             2580706.30%   71210
4  WH52799     Arizona      F   College              380812.21%   94903

   Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
0                    88                    1/0/00               633.6
1                   114                    1/0/00               547.2
2                   112                    1/0/00               537.6
3                   214                    1/1/00              1027.2
4                    94                    1/0/00               451.2

      Policy Type  Vehicle Class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto     Luxury Car
4  Corporate Auto   Two-Door Car

Data types after formatting:
customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
total_claim_amount           float64
policy_type                   object
vehicle_class                 object
dtype: object

Cleaned data (first rows):
  customer       state gender education  customer_lifetime_value  income  \
0  GS98873     Arizona      F  Bachelor                323912.47   16061
1  CW49887  California      F    Master                462680.11   79487
2  MY31220  California      F   College                899704.02   54230
3  UH35128      Oregon      F   College               2580706.30   71210
4  WH52799     Arizona      F   College                380812.21   94903

   monthly_premium_auto  number_of_open_complaints  total_claim_amount  \
0                    88                          0               633.6
1                   114                          0               547.2
2                   112                          0               537.6
3                   214                          1              1027.2
4                    94                          0               451.2

      policy_type  vehicle_class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto         Luxury
4  Corporate Auto   Two-Door Car

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [25]:
# Your code here

# Identify null values per column
print("Number of null values per column:")
print(data.isnull().sum())

# Handle null values
# Identify numerical columns
numerical_cols = data.select_dtypes(include=["int64", "float64"]).columns

# Fill null values with the median
for col in numerical_cols:
    median_value = data[col].median()
    data[col] = data[col].fillna(median_value)

# Identify categorical columns
categorical_cols = data.select_dtypes(include=["object"]).columns

# Fill null values with the mode
for col in categorical_cols:
    mode_value = data[col].mode()[0]
    data[col] = data[col].fillna(mode_value)

# Display number of null values after handling
print("\nNumber of null values per column after handling:")
print(data.isnull().sum())

Number of null values per column:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

Number of null values per column after handling:
customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [26]:
# Your code here

# Exercise 5: Dealing with duplicates

# Objective:
# - Identify duplicate rows in the dataset
# - Decide and apply a strategy to handle duplicates
# - Verify that duplicates have been removed
# - Reset the index for consistency
# - Save the cleaned dataset to a new CSV file

# Identify duplicate rows
print("Number of duplicate rows:")
print(data.duplicated().sum())

# Display duplicate rows (optional inspection)
print("\nDuplicate rows (if any):")
print(data[data.duplicated()])

# Strategy:
# - Keep the first occurrence of each duplicated row
# - Drop subsequent duplicates
data = data.drop_duplicates(keep="first")

# Reset index after dropping duplicates
data = data.reset_index(drop=True)

# Verify duplicates have been removed
print("\nNumber of duplicate rows after cleaning:")
print(data.duplicated().sum())

# Save the cleaned dataset to a new CSV file
output_path = "cleaned_insurance_data.csv"
data.to_csv(output_path, index=False)

print(f"\nCleaned dataset saved to '{output_path}'")

Number of duplicate rows:
0

Duplicate rows (if any):
Empty DataFrame
Columns: [customer, state, gender, education, customer_lifetime_value, income, monthly_premium_auto, number_of_open_complaints, total_claim_amount, policy_type, vehicle_class]
Index: []

Number of duplicate rows after cleaning:
0

Cleaned dataset saved to 'cleaned_insurance_data.csv'

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [28]:
# Your code here

# Main script to run the cleaning process

%load_ext autoreload
%autoreload 2

import insurance_cleaning as ic

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"

clean_df = ic.main(
    url=url,
    output_path="cleaned_insurance_data.csv",
    keep_duplicates="first"
)

print("Cleaned dataframe shape:", clean_df.shape)
print(clean_df.head())

# Display cleaned datset unique values per column
for col in clean_df.columns:
    unique_values = clean_df[col].unique()
    print(f"\nUnique values in column '{col}':")
    print(unique_values)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
Cleaned dataframe shape: (996, 11)
  customer       state gender education  customer_lifetime_value  income  \
0  GS98873     Arizona      F  Bachelor                   323912   16061
1  CW49887  California      F    Master                   462680   79487
2  MY31220  California      F   College                   899704   54230
3  UH35128      Oregon      F   College                  2580706   71210
4  WH52799     Arizona      F   College                   380812   94903

   monthly_premium_auto  number_of_open_complaints  total_claim_amount  \
0                    88                          0                 634
1                   114                          0                 547
2                   112                          0                 538
3                   214                          1                1027
4                    94                          0                 451

      policy_type  vehicle_class
0   Personal Auto  Four-Door Car
1    Special Auto            SUV
2   Personal Auto   Two-Door Car
3   Personal Auto         Luxury
4  Corporate Auto   Two-Door Car

Unique values in column 'customer':
['GS98873' 'CW49887' 'MY31220' 'UH35128' 'WH52799' 'WL99637' 'UC84059'
 'HW62747' 'BH11344' 'TX28465' 'OK56965' 'WT22392' 'PH85036' 'KC71643'
 'NR32615' 'GS69842' 'WT71621' 'KD23847' 'PE59368' 'NK91488' 'CR33417'
 'WP73172' 'PS30217' 'EL62967' 'MU23938' 'VC83809' 'VL34577' 'QE12539'
 'YO15246' 'WF73839' 'TJ11671' 'SV34223' 'XD19546' 'OY95739' 'SW57539'
 'IA62027' 'FZ20933' 'WR62597' 'KU61611' 'XW98867' 'PP80817' 'DT77901'
 'DX34647' 'OD56551' 'OO63074' 'EH24828' 'CX99919' 'DG80424' 'NU32697'
 'PU98976' 'ZR20842' 'NF35573' 'DF66914' 'YM99866' 'VH62084' 'SE28250'
 'MD86050' 'GF17866' 'UB16654' 'KO44736' 'KI55845' 'JJ24476' 'VC68509'
 'QN62502' 'EL92515' 'VL84149' 'JX19907' 'BC66921' 'RK24470' 'GN80437'
 'AH65907' 'VG57728' 'AF81450' 'YI28422' 'GR26937' 'BR99015' 'PB11270'
 'PZ89632' 'LV62981' 'AS97690' 'SG32258' 'MY80583' 'WS57286' 'MF53477'
 'DQ28641' 'EX46492' 'VW20823' 'LH26563' 'FR56877' 'ZY99878' 'CS15289'
 'MM49431' 'IA96447' 'PT32230' 'NK73719' 'OH15771' 'XP61034' 'ZN34245'
 'FX55923' 'ZZ83340' 'HA99340' 'LE43061' 'UF77413' 'UY45293' 'TH84309'
 'PZ94551' 'UE76013' 'HS85465' 'SI78985' 'KF50730' 'JO13576' 'HJ79774'
 'KI18648' 'EL99335' 'LE84979' 'CE12380' 'BJ22117' 'JF83834' 'YN10988'
 'YX15941' 'ZB50601' 'HP50399' 'GC17585' 'QW17286' 'DO41287' 'GT54462'
 'BT76268' 'QM38267' 'LP82042' 'EF52978' 'GH54524' 'DP26592' 'UP29839'
 'IB80924' 'OB55054' 'NP91656' 'SH74080' 'KN25556' 'RB38792' 'QR72180'
 'TW64385' 'TM13955' 'GF94951' 'NF53775' 'YB58778' 'PH77560' 'ZO14864'
 'BI34376' 'UQ63396' 'BR23201' 'VH45094' 'KD47243' 'MY13737' 'OR48881'
 'BD77090' 'LW77178' 'BQ12347' 'FF61670' 'PM61374' 'BW25236' 'XO22038'
 'QG51953' 'SZ56338' 'PX60116' 'BW46202' 'GW14109' 'GP42026' 'DH41343'
 'PY42157' 'OL36978' 'KT40899' 'WE60408' 'LG64797' 'MD87746' 'QP80741'
 'WO59883' 'MU79385' 'JH30384' 'LL45497' 'SK95364' 'VG56765' 'NE24371'
 'KR48903' 'ZF27999' 'MH40017' 'YJ99764' 'AG22225' 'ZJ26179' 'VO36036'
 'ZQ94281' 'CK40732' 'UT73461' 'LT57320' 'BZ44726' 'VU32116' 'EG94326'
 'EJ43595' 'QI37869' 'SX65826' 'XO42145' 'WJ74851' 'IG68709' 'AC75391'
 'WO94087' 'YJ69332' 'WX87964' 'PD32641' 'CK39096' 'QV19964' 'BF72793'
 'WB12017' 'JO17193' 'AY84441' 'JQ65500' 'OI29521' 'MJ51323' 'QI64880'
 'HV93429' 'TA89713' 'OB98149' 'LE65901' 'FF68864' 'YX99200' 'LZ26801'
 'TA66375' 'SC92090' 'TK40018' 'ZD63451' 'AO98601' 'DT35588' 'VF87723'
 'QP69826' 'UW37050' 'UH62254' 'IA15979' 'DB71122' 'TM14491' 'OY94707'
 'LN55080' 'TZ47750' 'SJ74501' 'LE26899' 'ML34366' 'EI45850' 'LD75023'
 'JW12998' 'LP47259' 'XD21246' 'DW59142' 'KX54900' 'XV83643' 'XY33610'
 'GK48045' 'ET79528' 'RA66180' 'BC66536' 'PN22481' 'XR95069' 'IF38438'
 'ZC62609' 'FD64348' 'TA58285' 'WV66165' 'YE27183' 'TI47802' 'ZZ44902'
 'JD73594' 'VW82067' 'JS55721' 'ZB62469' 'HZ74609' 'TJ76363' 'QZ58370'
 'RF44930' 'VJ44100' 'KN13494' 'NL80137' 'NZ57065' 'NM42917' 'RR68322'
 'OF78862' 'SC93784' 'CM59084' 'QA41558' 'SD62061' 'VP13613' 'HF96939'
 'DU18362' 'UG34438' 'XQ19793' 'OB77084' 'LK74984' 'JE13986' 'QR15221'
 'LD49835' 'EK19337' 'GD55093' 'RX19151' 'TJ30354' 'TA75663' 'WG15841'
 'LO68739' 'BE61743' 'EG56026' 'VF21395' 'SI11249' 'PU95227' 'VO87785'
 'FS29897' 'JG36165' 'SJ42058' 'CU13711' 'GT65065' 'LO77543' 'UQ85283'
 'QA49556' 'GE29173' 'DF21541' 'JL59571' 'DF94525' 'YO58424' 'UF32671'
 'HO92982' 'MZ24175' 'YD48962' 'RI52095' 'MF18493' 'EP61084' 'EN38348'
 'FG46258' 'LS98306' 'PZ47477' 'LT32391' 'KK30016' 'OA89218' 'CY47265'
 'ZI47663' 'GO14008' 'BC43958' 'AI61368' 'UF37831' 'PO90615' 'GY74661'
 'MX50302' 'TC84427' 'IQ82914' 'TY74870' 'II83628' 'ZR77995' 'QT89604'
 'AB21519' 'MP47256' 'MA47641' 'GQ20713' 'WW87934' 'HF75276' 'ET64028'
 'QA41472' 'OZ92426' 'UM69933' 'RQ11502' 'TX98128' 'XY52165' 'GB39003'
 'VH43367' 'KG81168' 'WU14549' 'XB17553' 'MY88518' 'XE18554' 'NY97446'
 'VT96364' 'HF88410' 'DP92488' 'VC54081' 'CE94751' 'VM85856' 'EH37385'
 'FI45719' 'SB79528' 'WH81461' 'UD47050' 'XZ17273' 'XR97812' 'BW88060'
 'CP32818' 'CM52565' 'YP40334' 'KD63998' 'VC77127' 'AM30008' 'PC83755'
 'XS22323' 'ST27958' 'BH23017' 'OD18225' 'VE31507' 'NR18672' 'DM76654'
 'YY11432' 'GK67747' 'XA75063' 'PQ13422' 'NA89685' 'AL35726' 'WO70078'
 'CA56041' 'HI41970' 'AU46443' 'WC35554' 'JR10216' 'OH11674' 'US85318'
 'FS19862' 'ZP80713' 'OK50159' 'TP54769' 'FS49381' 'DQ79499' 'VH31965'
 'VO25602' 'EP93369' 'DQ45854' 'QG15661' 'YA80645' 'TW16499' 'UP97629'
 'NU42684' 'EM85557' 'BM69818' 'HK15299' 'NP88496' 'SB99002' 'ZH42145'
 'JG30837' 'AC22873' 'RO85831' 'NN65845' 'RZ27571' 'GH31557' 'MK73855'
 'IO27771' 'HB99061' 'HQ82089' 'JN72184' 'WQ46946' 'WJ44028' 'WH77063'
 'FI13966' 'AQ46199' 'WV69362' 'RJ90816' 'NH19236' 'VW88911' 'NV14535'
 'BM66931' 'JW24035' 'PG82270' 'RW65101' 'QO79771' 'EC44438' 'MW54213'
 'ZN33412' 'HZ56678' 'AN36757' 'NB54665' 'MG99229' 'MX76292' 'EJ90880'
 'WO95180' 'BU53191' 'ZK54897' 'PP48389' 'XD29421' 'OP26403' 'XK15687'
 'ED29955' 'QT84720' 'ZH35315' 'EE76374' 'SH51981' 'BS13111' 'JP12645'
 'ZF28570' 'UU93074' 'SZ60450' 'HL63895' 'UD27196' 'OU53351' 'SX50964'
 'RP30093' 'BK73302' 'CS93971' 'RG13940' 'ZG94155' 'QN15356' 'MZ16820'
 'DO98345' 'PA48777' 'UK76814' 'SR30440' 'XE66367' 'SZ70655' 'UV54502'
 'DK98861' 'JX14364' 'LI85491' 'JY87538' 'VE55982' 'WK99918' 'XP16538'
 'HW42900' 'JG84729' 'XH85336' 'ND29059' 'HC76653' 'SG73822' 'CB44654'
 'MP53505' 'YJ43481' 'TP15362' 'YX90754' 'TQ32702' 'TS50305' 'BY22068'
 'TJ48439' 'TE61015' 'RD89159' 'VW86720' 'UM76485' 'LS62045' 'ZG84862'
 'CD76093' 'FO99259' 'KN87338' 'LT89398' 'NZ19529' 'PR41853' 'ZF40671'
 'XR84971' 'BP83941' 'PY80449' 'ET22260' 'OF47250' 'WB58031' 'UV80201'
 'PY10605' 'JI82682' 'BU14748' 'QK18099' 'LD26428' 'MY43761' 'WQ89892'
 'GY55415' 'IB42395' 'ZU74482' 'NL74789' 'YU86594' 'QN37451' 'GD83998'
 'IL83479' 'EF87528' 'IV74747' 'JZ81608' 'EO40136' 'ZR40902' 'PO89542'
 'FX57380' 'NM22175' 'BC97773' 'MN34012' 'KY29506' 'VU84949' 'HC20975'
 'IF87079' 'EP18940' 'SB44003' 'MK15785' 'VP89545' 'HJ58678' 'MW80236'
 'IA52178' 'WC42895' 'JP41935' 'YM77369' 'WV15213' 'GX37592' 'VM34210'
 'YJ59924' 'OO35641' 'EU54076' 'QH56750' 'PQ27923' 'ES16126' 'PG42834'
 'OY44814' 'JI97190' 'ZK61113' 'MU88116' 'TP61305' 'ZY20779' 'KP65334'
 'OH15677' 'HB53755' 'UF77079' 'TD20252' 'TH68362' 'TO34442' 'MP96373'
 'CV72453' 'OY92520' 'UY95530' 'FB84235' 'MJ14480' 'KW81128' 'DQ98402'
 'WN53966' 'QK69627' 'QC55306' 'WV79842' 'DF40318' 'TN90661' 'ZU88029'
 'TQ88221' 'KH34667' 'HW54198' 'GZ79662' 'YA11342' 'ZW18871' 'QZ17137'
 'UV53712' 'SJ43436' 'VW46878' 'TW91179' 'LG19551' 'AI49712' 'WN14473'
 'WH62198' 'SP85148' 'FB49203' 'FF94341' 'TS42594' 'IL43607' 'FL85008'
 'AN47199' 'SV28347' 'IC78105' 'RB28630' 'KA32645' 'QD73891' 'LM58949'
 'YG40323' 'EP82214' 'EO91797' 'RU50098' 'QW10541' 'SB50826' 'XX29952'
 'AT93647' 'QP56563' 'UF88986' 'TY43440' 'NJ15094' 'MM45334' 'KH93988'
 'RY38931' 'CV48634' 'TN76120' 'ZS96174' 'MI62456' 'DD44177' 'NX31380'
 'KQ43374' 'XA54112' 'QB14087' 'FV42881' 'AV76907' 'VM85555' 'ZU88113'
 'SZ75668' 'MZ65087' 'EL61402' 'CJ31839' 'XM11175' 'LF41085' 'MB19556'
 'HC74532' 'SB66770' 'JI25066' 'PY98958' 'RA65645' 'FQ79356' 'TM25808'
 'XO46388' 'LB81265' 'JR38787' 'KZ22690' 'NY49598' 'KY39767' 'YU35386'
 'TF82172' 'ER40041' 'MS39869' 'PV77906' 'QF21045' 'HF65914' 'AJ58038'
 'ZR88383' 'OT49339' 'FI74985' 'JW15301' 'PY20159' 'NC42524' 'ZG19911'
 'DI89983' 'IG56214' 'CA86085' 'UO95739' 'SB64873' 'TE82896' 'VY64199'
 'IE82679' 'SL70257' 'XJ85947' 'EF84269' 'NY91328' 'AT49447' 'BM70908'
 'GM63998' 'AR61426' 'CB62406' 'WH82416' 'UI53874' 'LM44949' 'JR59597'
 'ZS22428' 'AZ34845' 'XZ34917' 'QU20310' 'NQ42020' 'ZF40143' 'GU65780'
 'KY32675' 'ZX35838' 'LU42720' 'FB25242' 'RW51650' 'XX94684' 'AH99727'
 'NZ85858' 'JU19953' 'LC33025' 'BV86143' 'AY88788' 'OJ33945' 'LO84523'
 'HZ25580' 'AR96516' 'JP69864' 'DL26809' 'MV69686' 'SC95565' 'RL31641'
 'OH83248' 'DB28979' 'ZS32263' 'IY59173' 'KL17620' 'CP28581' 'QR15592'
 'RI85578' 'TG68823' 'WO78310' 'SC78905' 'EL88957' 'SS54050' 'ZV99487'
 'XI51746' 'KG85675' 'KK64803' 'OM80593' 'RL59810' 'QQ53360' 'WR76339'
 'BA40043' 'MK52197' 'SV48204' 'RJ79502' 'LY14355' 'NL32558' 'CP92616'
 'BP28492' 'MX28412' 'DT99586' 'IC41932' 'DA35744' 'GU96042' 'UW98698'
 'SF32458' 'OM85313' 'MH81246' 'OH99089' 'TG57800' 'GX19342' 'XE39286'
 'JA93297' 'II37789' 'IC32996' 'LO67195' 'PG93638' 'OZ41737' 'OY66019'
 'CH73843' 'XT93203' 'OR85652' 'LR10110' 'XK11432' 'OX24868' 'EZ74530'
 'HP46467' 'KP54476' 'AI47152' 'BU15334' 'GD59796' 'OX59701' 'OD63728'
 'JC38573' 'RC11491' 'RZ24101' 'OB88698' 'IK92617' 'YH43996' 'BJ65040'
 'WY57101' 'OG77759' 'HN38084' 'GD11927' 'MC20349' 'HM22034' 'KH48996'
 'VF32979' 'LS90887' 'EN72010' 'KH44031' 'GJ47896' 'GD87742' 'MD14027'
 'XA32915' 'XR52852' 'EZ48947' 'OJ50322' 'XB77333' 'QB58745' 'IG62421'
 'SF29724' 'WM95454' 'CB96381' 'MJ60422' 'NC63295' 'CM55703' 'ZE76673'
 'TO60700' 'WF34690' 'ZM28138' 'FI14842' 'KC32511' 'NE10467' 'PT93474'
 'RL74454' 'DQ31994' 'DN98431' 'EV53200' 'AJ89107' 'WS25565' 'ZY33234'
 'PS69748' 'HL33607' 'DG90902' 'SW96063' 'CP19929' 'KR50062' 'CU19735'
 'ST52914' 'WQ68301' 'LR33381' 'UR36912' 'SK46419' 'BY88757' 'ER65086'
 'TP87527' 'VL80291' 'WL45773' 'TT36693' 'PT12544' 'CI24326' 'YQ73717'
 'FG99706' 'OM63414' 'JQ74890' 'FP93662' 'SA40041' 'EW82164' 'KV99550'
 'CA96230' 'QN17712' 'KM79894' 'KR25511' 'DZ45471' 'DE18949' 'BN74268'
 'QJ93301' 'OO92815' 'HV50891' 'RK59543' 'IH54239' 'GB14456' 'RC95515'
 'TI61458' 'RB49468' 'SJ18454' 'KC19420' 'TP12241' 'BD89564' 'EC71986'
 'CJ97736' 'QF59448' 'YB70005' 'QI40455' 'YL72747' 'FL18392' 'AL21967'
 'KC67431' 'EG40823' 'QO89177' 'AV72430' 'TL18087' 'WI29961' 'ZR11692'
 'No36572' 'YZ56105' 'MN62189' 'MQ32284' 'NS38229' 'IB41597' 'IP68868'
 'EL70257' 'NB27041' 'BM28359' 'VB77950' 'PE47967' 'QR47308' 'YU49449'
 'KN25124' 'HI51182' 'MS18916' 'IE40701' 'UT48216' 'VN92740' 'IZ55070'
 'HI74419' 'MP76478' 'DY30071' 'ZN24083' 'JU74347' 'YJ35850' 'IE15348'
 'GP67816' 'PW51793' 'UF59346' 'FG29932' 'UX71137' 'BY54111' 'RM83767'
 'PT15464' 'BP92643' 'BW94308' 'GQ46925' 'RF14806' 'KJ23009' 'IB81655'
 'SV62436' 'HR64684' 'QS96715' 'SW55711' 'LZ19268' 'FU74983' 'KB99097'
 'AP52126' 'EX61844' 'QC30857' 'RT69513' 'HV85198' 'BS91566' 'IL40123'
 'MY32149' 'SA91515']

Unique values in column 'state':
['Arizona' 'California' 'Oregon' 'Nevada' 'Washington']

Unique values in column 'gender':
['F' 'M']

Unique values in column 'education':
['Bachelor' 'Master' 'College' 'Doctor' 'High School or Below']

Unique values in column 'customer_lifetime_value':
[ 323912  462680  899704 2580706  380812  761414  689846  229838  280670
  520612 4570865  800735  548255  246324  549894  524383  328046  488654
  512348  547956  476216  828768  988666  271292 1047768  343613  259619
 1273195  349415  759791  401521 2047711  816069 1229869  871492  485353
  488095  231138  432710  832353 1017972  776127  523989  451791  238977
  413063  269157  522777  618735  511387 1103932 3222708  261197 1337233
  483898  472166  387365  471856 1697980 1368171  571722  948660  383914
 1121159  379832  281657  502930  344497  285941  269206 1143173  763588
  980583  680362  710766  473518  687433  241126  241654 2398154  469217
  360093  266522  766652 1667590  455086 1176394 1374254 1613842  729858
  667374  778213 1939321  397414  410558  230847  537291  550832  239833
  372883  275850  370393  937284  499158  503987  275998  799300  523557
  263301  276480  808485  268518 1220812 2009044  513341  249132  631460
 1622965  516179  398227 1347319  277832  827644 1434986  587820  266605
  534568  477712 1697374  251811 1916099 3286440  396481  491177  780531
  720066  538950  324131  552821  299302  707665  370038  532884  483888
  341720  787993  786943  258681  728679 1179799  938675  630892  860916
 1542801  563079 1813119  808722 1845358  521751  483578  559712  892046
  599541 3849695  838263  244367  247225  540552  935248  433987 1772376
  750746  604857 1901448 1008037  650340  248773  462039  247153  649424
  250491  490489  480248  795577  694190  838248  353643  324482  761121
  450540  244584 1647777  354640  427727  478477  757224 1176088  393381
  570076  349863  576809  636195  493519  578522  561969  259929  673297
 1832187  230069  400286  862100 1038899  842717  700727  517658  470001
  443494 1401053 1235006  816158 1100913  871705  591747  250366  501889
  433039 1048774  356750 1989642 2142364  694833  351583 1203662  360980
 1773246  850985  586642  482550  777801 2634609 1486645  832423  923831
 2269329  623602  501218 1569554  821460  311898  276403  688369  221591
  485475 2152295  276169 2256362  528592 3506265  591320  259340 1269267
  330912  518162  241393  216169  552799 1062922 1182011  496463  912293
  346066  287298  992788  348269  399173  551011  541946  581063  394273
  312627  353001 1099059  477294  220234  245917 1037389  258420  430742
  304025  817658  528531  802499  281046  773955  410979  327516  265270
  504823  336241  485843  214492  604262  338720 1086427  884265  261661
 3076326  520023  859131  264657  460724  486062  258085  529140  840575
  309651 2941229  562705 1749752  321861 2320727  692197 1391853  896631
 1198198  553263 1166057  288645 1274185  539810  728503 1765196 1702989
  249126  403932  261934  504969  498346  253064  739672  383290  496141
  386149 2265854 1040897  483471  825767  305263  401232 1335549  236443
  248934  475572 1386438  302042  628531  250602  282631  436972 1217459
  352804 1043657  274612  917517  272752  944975  456882  257402  878988
  250741  252241  754271  600521 2099826  234508  878317  452997  603322
  530825  267473  492981 1413112  438628 1911657  663167  743230  292812
 4661187 1651501 1021356 1004929  574615  374675  748607  912007  567805
  751708  453053  269138  806862  247858  911204  277244  430579  510336
  478496 1054111  528512  761084  851053 1617294  242549  289932  363305
  345715  339472  802107  584153  547985 2045525  831912  258286  416379
  485310  753170  258594  269596  268458  810936  903666  535219 1188097
  255709  791482  984008  435155 2220783  482526  694784  334481  235750
 3594471  404816  685200  290302 1803911  324204  246762  567438  863436
  278020 2205600  251459  588622  770604  279046  239704  883432 1443567
  687197 1536235  483480 1089930  528404  289173  490055 2084260  524606
  663084  389503 1170107  341911  730278 1968541  248606  522433 4922143
  316789 1319793  623431  753960  815793 1315675  533939  864918  751913
  429301  253774 1316034 1323554  374458 2848607  264468  507328  427259
 1100302 1418164  554803 1107769  243569  874385  240976  550001  852829
  359200  853983  699092  397939 2395037  232105  508702  436293  745747
  702776  283168  421786  759629  836568  272639  342045  483911  435855
 1242739 2351585  839633  517098  558531  863950  528183  838525  463310
  248039  361869  537584  489329 1073768  260782 1572525  955342  732493
  533304 1276723  265934  348363  463655 1753004  697872  291225  420928
  500981 1149034  286454  840391 2039597  529263 1672777  580113  947297
 1048492  438731  452288  541815 1578530 2211040 1359620  475613  244705
  567592  739903  730843 3287175  522892 2070086  633303  629274  491789
  516581  629159  458267  606244  497908  583056  374258  384960 1526581
  531781  237481  553286  571979  451220  726480  865886  559938 1522820
  364483  369344  938816 3116269  928374  255123  581192  406467  284144
  683213  520197  548459  767268  827249  333067  556246  245274  792028
  576478  259390  288235  221319  942963  623926  766881 1377098  274284
 1346692  885835  848533  774464  589491  577068  526112  240354  912460
 2618081 1564126  531984  749601  260557  270721  279491  881902  534599
  816951  770888 1212845  679684  286731  239557  709417  412809  404694
  486928  290215  428295  775012  662717  747461  556129  609846  285953
  599442  563525  506721  226328  492840  856477  236188  556569  514681
  293808 1443275 1302742  245199  466198  560001  401613 2219580  734335
  480451  273554  694097  239622  538090  843282  755651  778743  478781
  970765  255223  522343  501045  560832  445794  820079  274608 1021578
  245357  587296  311893  556866  902971  759183  225531 3261369  944565
  680360  976622  729485  568252  633294  491658  479824  564380  924746
  732293  827590  563540 1497029  933634 4835696  568692  862284  507967
  562331  527001  862117  791833 2103402 1541768  869264  650314  239619
  591495  224845  682680  398218  288778  225242  845853  747831  378865
  522069  713029  851359  566013  263814  531890  416016  223735  346012
 1600551  698660  882696  472687 2744347  724731  513785  273906  509279
  579983  550706  850128  293599 4680522  257532 3711166  437119 1679634
  798851  226984  499147  292193  761319  582741  260064  849147  977873
 1000403  487277  744481  576111  536678  625948  762358 1096396  742785
  550414  466513  602184  307411  495309  778049  799278  417069 2322824
  544582  455850 1039067  714255  546954 1162873 1018965  273343  401445
  711953 1177279  238179  520835  501873 1190054  580017  727143  316449
  266103 1414056  765423  219974  200435 1311111 1576260  278754  271337
 1459025  665247  244462  289692 1097207 1935737  722712  785730  428106
 1151316  514711  866350  253532 2150434  734933  429719 1747664 1047990
  224257  275446  804120  604291  282744 2204186  279680  407285  518246
  613166  239213  320966  280861  688047  359107  520125  552154  507165
  292168 1580653  574988  416742  651495  918952  823122  309518  758211
 1634461 1176315  405337  331116  559539  508969 2233716  479283 2778969
  751166 1876755  498764  512320  598977  242928  582818  283159  976794
 1209791  226532  571909 1017148 1051716  430347 1192675 1653170  305928
  543744  510330  458310  640963  899198 1223278  512604 1101416  381962
  840440  903567  545371  376637  728393  274525  262628  245682  845368
  350857  287735  784017  277104  533949  809288  864650  565924  553246
  794351  977461  406700 2320839  732589  417034  887597 1937891  597100
  914888 2009689  582168  309580 1059854  769512  304179  868982  813178
  381532 1163890 2280054  446300 1315183 1401998  293116  477475  847142
  543122  568964  368672  399258]

Unique values in column 'income':
[16061 79487 54230 71210 94903 27293 70950     0 37009 52629 31264 65473
 79325 99144 22520 36615 63297 76374 72096 56005 36529 81367 44817 58508
 45259 30817 40870 35001 49937 58317 17101 24398 24641 69040 59886 14290
 43137 27978 25261 58652 28321 77411 94415 45331 53904 28142 15680 35095
 55588 52391 42240 70146 41121 41228 40113 51790 92593 28657 30262 47197
 22093 54483 18944 84365 25147 14315 87864 57844 17913 28806 90343 79041
 74069 85019 70059 70503 39492 50405 96021 65794 21975 56649 35984 92296
 39448 71794 21861 31591 60662 20608 21331 53390 36631 26030 25302 66030

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here